<p id="notice"><%= notice %></p>

<h1>Boardgames</h1>
<% @boardgames.each_slice(3) do |boards|%>
    <div class="card-deck">
        <% boards.each do |board| %>
            <div class="card my-2" style="width: 18rem" >
                <%= image_tag board.board_image, class: "card-img-top img-fluid", style:'filter:grayscale(100%)' %>
                <div class="card-body">
                    <h3><%= board.name %> ago</h3>
                    <h3><%= board.rules %> ago</h3>
                    <h5><%= link_to 'Edit', edit_boardgame_path(board) %></h5>
                    <h5><%= link_to 'Show', @boardgame %></h5> 
                </div>
            </div>
        <% end%>
    </div>
<% end%>


<%= link_to 'New Boardgame', new_boardgame_path %>
