<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-8"></div>
    <div class="col-4">
        <button type="button" class="btn btn-success">  
          <%= link_to 'Back', boardgames_path %>
        </button>
    </div>
</div>  
<p>
  <strong>Name:</strong>
  <%= @boardgame.name %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @boardgame.rules %>
</p>
<p>
  <strong>Rules File:</strong>
  <%= @boardgame.rules_file %>
  <a href="<% rails_blob_path(@boardgame.rules_file, disposition: 'attachment') %>" >Download PDF</a> 
</p>

<% if @boardgame.pieces_images.attached? %>
  <p>
    <strong>Images:</strong>
    <br>
      <% @boardgame.pieces_images.each do |image| %>
        <%= image_tag image.variant(resize: "100x100"), style: "-webkit-filter: grayscale(100%)" %>
        <a href="<% rails_blob_path(image, disposition: "attachment")%>" >Download the pieces images</a>
        <%= link_to 'Remove', delete_image_boardgame_path(@boardgame, image), method: :delete, data: { confirm: 'Are you sure?' } %>  
      <% end %>
  </p>
<% end %>

<p>
  <strong>Board Image:</strong>
  <%= image_tag @boardgame.board_image.variant(resize: "100x100"), style: "-webkit-filter: grayscale(100%)"%> 
  <a href="<% rails_blob_path(@boardgame.board_image, disposition: "attachment")%>" >Download the board image</a>
  <%= link_to 'Remove', delete_image_boardgame_path(@self.board_image), method: :delete, data: { confirm:'Are you sure?' } %>
</p>

<%= link_to 'Edit', edit_boardgame_path(@boardgame) %> |

